html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.mapDiv {
  position: absolute;
  top: 250px;
  z-index: -1;
  height: 600px;
}
#map {
  margin-top: 250px;
  height: 600px;
}
.leaflet-container {
  height: 100%;
}
h5 {
  margin-bottom:5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: solid;
  color: rgb(168, 165, 165);
}

.data {
  display: flex;
  width: 800px;
  background-color: white;
  border-radius: 8px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  margin: auto;
  align-content: center;
padding: 20px;
  align-items: stretch;
}
p{
  display: flex;
  align-content: flex-start;
  justify-content: left;
  margin-top: 0px;
  text-align: left;
}
.item {
  padding-left: 10px;
  width: 180px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  text-align: center;
}
.item + .item {
  border-left: solid 2px rgb(168, 165, 165);
}
.form {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 30px;
}
input {
  background-color: white;
  border-radius: 8px 0px 0px 8px;
  width: 350px;
  margin-left: 0px;
  font-size: large;
}
.submit {
  display: flex;
  gap: 0;
  width: 400px;
  transform: scale(0.75);
}
button {
  border-radius: 0px 8px 8px 0px;
  fill: antiquewhite;
  background-color: rgb(41, 39, 39);
}
.background {
  position: absolute;
  z-index: -1;
  top: 0px;
  background-size: cover;
  background-image: url("/image/pattern-bg.png");
  width: 100%;
  height: 250px;
}

h4 {
  display: flex;
  justify-content: center;
  color: antiquewhite;
  margin-bottom: 30px;
  margin-top: 30px;
}

@media only screen and (max-width: 400px) {
  .data {
    flex-direction: column;
    width: 300px;
  }
  .input {
    width: 300px;
  }
  .item + .item{
    border-left: none;
    border-top: solid 2px  rgb(168, 165, 165);
  }
}
